:root {
  --primary: #111;
  --secondary: #222;
}

body {
  text-align: center;
  background-color: var(--primary);
}

h1 {
  text-align: center;
  color: var(--secondary);
}

.color {
  color: var(--primary);
}

canvas {
  background-color: var(--secondary);
}